*{
    margin: 0%;
    padding: 0%;
}
.cimg{
    width: 200px;
    height: 200px;
    border: 4px solid green;
    padding: 5px;
    display: flex;
    margin: auto;
}
.cimg1{
    width: 200px;
    height: 200px;
    border: 4px solid rgb(128, 58, 0);
    padding: 5px;
    display: flex;
    margin: auto;
}
.skills ul {
 list-style-type: none;
 margin: 0%;
 padding: 0%;
}
.skills ul li{
border: 2px solid rgb(0, 255, 132);
display: inline-block;
border-radius: 2px;
padding: 7px;
margin: 0 7px 7px 0;
font-size: 12px;
}
.emp{
    display: flex;
    justify-content: center;
}
